<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Battle</title>
  </head>
  <body>
    <h1>Want To Fight?</h1>
    Super techticalc fighting game
    <h3>Please enter your names</h3>
    <form action="/names" method="post">
      <input type="text" placeholder="Player 1" name="p1">
      <input type="text" placeholder="Player 2" name="p2">
      <input type="submit" value="Fight">
    </form>
    </form>
  </body>
</html>
