<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Battle</title>
  </head>
  <body>
    <h1>Prepare to fight!</h1>
    <h3>Please enter your names</h3>
    <form action="/names" method="post">
      <input type="text" name="p1">
      <input type="text" name="p2">
      <input type="submit" value="Fight">
    </form>
    </form>
  </body>
</html>
